{% extends "layout.html" %}
{% block content %}

<section id="intro">
    <header>
        <a href="/">
            <img src="logo.png" alt="Imagem da Logomarca"> 
        </a>
    </header>
    
    <Main>

        <p>
        Ficar em casa em peridos longos, não deve ser nada fácil. 
        </p>
        <p>
        Por isso, iremos catalogar ideias, <strong> jogos, filmes, livros,
        cursos, dicas</strong> e tudo que for necessário para tornar esse momento
        mais interessante.
        </p>
        <p>
        Comece clicando em ver ideias para ver as
        ideias cadastradas e contribua adicionando a sua ideia
        </p>
    </Main>

    <section id="buttons">
        <button onclick="onOff()">+Adicionar Ideia</button>
        <a href="/ideias"class="button"> Ver Ideia</a>
    </section>

    <footer>
        Com ❤ <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a>
    </footer>
    
</section>

<section id="last-ideias">

  {% include "all_Ideias.html"%}

</section>

{% endblock %}
